/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montagu+Slab:opsz@16..144&display=swap');

/* Default Rules */
html {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
body {
    background: #e0ffff;
    background: linear-gradient(150deg, #e0ffff 0%, #e6e6fa 80%);
    background: -webkit-linear-gradient(320deg, #e0ffff 0%, #e6e6fa 80%);
    background: -moz-linear-gradient(150deg, #e0ffff 0%, #e6e6fa 80%);
    font-family: 'Kanit', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */
header {
    position: relative;
    height: 69vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    margin: 0;
    padding: 0.5em 0;
    position: relative;
    top: 0;
    background-image: linear-gradient(rgb(0, 0, 0, 0.9), rgb(47, 69, 69, 0.69));
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    width: 100%;
    text-align: center;
    display: block;
    padding: 0;
    margin: auto;
}
nav a {
    display: inherit;
    height: 5vh;
    padding: auto;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: azure;
    text-shadow:
        1px 0 darkslategrey,
        -1px 0 darkslategrey,
        0 -1px darkslategrey,
        0 1px darkslategrey;
}
nav li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #e0ffff;
}
nav a:hover {
    color: inherit;
    border: inherit;
}
header img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    object-fit: cover;
    object-position: 20% 70%;
    width: 100%;
    height: 69vh;
    -webkit-mask-image: linear-gradient(black, transparent);
        mask-image: linear-gradient(black, transparent);
}
header h1 {
    text-align: right;
    position: absolute;
    top: 70%;
    right: 1em;
}
@media screen and (min-width: 768px) {
    nav ul li {
        width: 17%;
        display: inline-block;
        margin: 0 1%;
    }
    nav a {
        width: 100%;
    }
}
@media screen and (min-width: 1440px) {
    nav ul {
        width: 70%;
        margin: inherit 15%;
    }
}

/* General Content */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montagu Slab', 'Franklin Gothic Medium', 'Arial Wide', Arial, sans-serif
}
main {
    width: 85%;
    margin: auto;
}
aside {
    padding: 1em;
    text-align: center;
}
a {
    text-decoration: none;
    color: darkslategrey;
    border-bottom: 1px dotted rgb(47, 79, 79, 0.8);
}
a:hover {
    border-bottom: 1px solid rgb(47, 79, 79, 0.8);
}
blockquote {
    border-left: 2px solid rgb(47, 79, 79, 0.8);
    padding-left: 2em;
    margin-left: 1em;
    quotes: '\201C' '\201D';
}
blockquote::before {
    content: open-quote;
    font: 2em / 1 'Montagu Slab';
    position: relative;
    left: -20px;
}
@media screen and (hover: none) {
    a {
        border-bottom: 1px solid rgb(47, 79, 79, 0.8);
    }
}
@media screen and (min-width: 1024px) {
    main {
        width: 60%;
        font-size: 1.3em;
    }
}

/* Footer */
footer {
    position: static;
    bottom: 1em;
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 25%;
}

/* Form */
form ol {
    margin: 1em 0;
    padding: 0 1em;
}
form li {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 1em;
    padding: 0;
}
form li label {
    margin-bottom: 0.5em;
}
form li input {
    width: 100%;
    padding: 0.5em;
    font: inherit;
}
form li textarea {
    resize: vertical;
    max-height: 10em;
    min-height: 2em;
    width: 100%;
    padding: 0.5em;
    font: inherit;
}

@media screen and (min-width: 480px) {
    form li {
        grid-template-columns: 40% 60%;
    }
    form li label {
        width: 30%;
        grid-column: 1 / 2;
        padding: 0.5em;
    }
    form li input, form li textarea {
        width: 100%;
        grid-column: 2 / 3;
        padding: 0.5em;
        margin: 0;
    }
}

